<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <style>
      .jstitle {
        font-size: 100px;
      }
    </style>
  </head>

  <body>
    <header><%- include('../partials/header'); %></header>
    <main class="container">
      <center class="jstitle">Weather EJS</center>
    </main>
    <footer><%- include('../partials/footer'); %></footer>

    <%- include('../partials/script'); %>
  </body>
</html>
